################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Arquivos temporários do Visual Studio
.vs/
*.suo
/School.Api/.vs/School.Api/v17/.suo
